@import "tailwindcss";
/* 

This file is used for global css here

*/

:root {
    --bg-color : #08080a;
    --text-color : #aeaac0;
    --button-background : #815ed7;
    --border-color : #35373d;
    --muted-text : #626262;
}

body {
  font-family: "Parkinsans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500; /* Adjusted font weight  300 to 800*/
  font-style: normal;
  height: 100vh;
  background-color: var(--bg-color);
  color : var(--text-color);
  overflow-y: scroll; /* Enable vertical scrolling */
  /* background-image: url('/background3.jpg'); */
}

.heading-text {
  font-family: "Momo Signature", cursive;
  font-weight: 800;
  font-style: normal;
}

.boldest-font {
  font-family: "BBH Sans Hegarty", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.regular-bolder {
  font-family: "Candal", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* For Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 5px; /* scrollbar width */
}

::-webkit-scrollbar-track {
  background: #f0f0f0; /* track color */
}

::-webkit-scrollbar-thumb {
  background-color: var(--bg-color);
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  transition: background-color 0.3s ease;
}



