@import "tailwindcss";
/* 

This file is used for global css here

*/
body {
  font-family: "Parkinsans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500; /* Adjusted font weight  300 to 800*/
  font-style: normal;
  height: 100vh;
  overflow-y: scroll; /* Enable vertical scrolling */
  /* background-image: url('/background3.jpg'); */
}
.heading-text {
  font-family: "Momo Signature", cursive;
  font-weight: 800;
  font-style: normal;
}

.boldest-font {
  font-family: "BBH Sans Hegarty", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.regular-bolder {
  font-family: "Candal", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* For Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 10px; /* scrollbar width */
}

::-webkit-scrollbar-track {
  background: #f0f0f0; /* track color */
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #256d9d, #96c7e7);
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #155e8d, #256d9d);
}

:root {
  /* ***************************** */
  --bluish: #155dfc;
  /* this variable is used for the bluish color gradient like buttons background color */
  --bluish-text: white;
  /******************************** */
  --bg-color: rgb(255, 255, 255);
  --text-color: rgb(0, 0, 0);
}
