@import "tailwindcss";
/* 

This file is used for global css here

*/

:root {
    --bg-color : #000017;
    --text-color : #eff2f6;
    /* For buttons */
    --button-background : #e8effd;
    --button-text-color : #000017;
    --border-color : #0e0f25;
    /* Exception color */
    --exception-button-background : #18182f;
    --exception-button-text : var(--text-color);
    --exception-button-border : #2c2c43;
    /* For long text */
    --muted-text : #8787ba;
    /* Footer background
     */
     --footer-background : #18182f;
}

body {
  font-family: "Parkinsans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500; /* Adjusted font weight  300 to 800*/
  font-style: normal;
  height: 100vh;
  background-color: var(--bg-color);
  color : var(--text-color);
  overflow-y: scroll; /* Enable vertical scrolling */
  /* background-image: url('/background3.jpg'); */
}

.heading-text {
  font-family: "Momo Signature", cursive;
  font-weight: 800;
  font-style: normal;
}

.boldest-font {
  font-family: "BBH Sans Hegarty", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.regular-bolder {
  font-family: "Candal", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* For Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 5px; /* scrollbar width */
}

::-webkit-scrollbar-track {
  background: var(--footer-background); /* track color */
}

::-webkit-scrollbar-thumb {
  background-color: var(--bg-color);
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  transition: background-color 0.3s ease;
}


.myScroller::-webkit-scrollbar {
  width: 3px;
}

.myScroller::-webkit-scrollbar-track {
  background: var(--footer-background);
  /* height: 100vh; */
}

.myScroller::-webkit-scrollbar-thumb {
  background: var(--bg-color);
  border-radius: 10px;
}

/* Hide scrollbar for Chrome, Safari, and Edge */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.no-scrollbar {
  scrollbar-width: none;
}